<a href="https://colab.research.google.com/github/AmalDavis848/Python_programs/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name="python programming"
s="welcome"
print(name+s)
print(s *10)
#print(name[2:7])
#print(name[-9:-3])
#print(name[-6:-2])
#print(name[::-1])

python programmingwelcome
welcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcome

In [ ]:
#module math
import math
result=math.sqrt(25)
print(result)

5.0

In [ ]:
import math as m
result=m.sqrt(25)
print(result)

5.0

In [ ]:
from math import sqrt
result=sqrt(25)
print(result)

5.0

In [ ]:
from math import *
result=sqrt(25)
print(result)

5.0

In [ ]:
#lamba
s=lambda x:x**2
print(s(5))

25

In [ ]:
#factoria function
def factorial():
  fact=1
  for i in num(num,1,-1):
    fact=fact*i
    print("factorial=",fact)
num=int(input("enter the number"))
factorial()

enter the number5

TypeError: ignored

In [ ]:
def factorial():
  fact=1
  for i in num(num,1,-1):
    fact=fact*i
    print("factorial=",fact)
num=int(input("enter the number"))
factorial()

enter the number5

TypeError: ignored

In [ ]:
#list programs :
mylist=["amal",25,"kaprassery",97986]
#print(mylist)
#print(mylist[1:3])
print(mylist[2][2:7])

prass

In [ ]:
num=int(input("enter the no "))
count=0
for i in range(2,num):
  if num % i==0:
    count=1
    break
if count==1:
  print("not prime")
else:
  print("prime no")

enter the no 10
not prime

In [ ]:
mydict={1:1,2:4,3:9,4:16}
mypro={'name':'amal','age':25,'place':'kaprassery'}
print(mydict)
print(mypro)
print(mypro['name'])

{1: 1, 2: 4, 3: 9, 4: 16}
{'name': 'amal', 'age': 25, 'place': 'kaprassery'}
amal

In [ ]:
month=int(input("enter 1 for jan \n 2 for feb \n 3 for march\n4 for april\n 5 for may\n 6 for june\n7 for july\n 8 for aug\n9 for sept\n10 for oct\n 11 for nov\n12 for dec\n"))
if month >=3 and month <=5:
  print("season is spring")
elif month >=6 and month <=8:
  print("season is summer")
elif month >=9 and month <=11:
  print("season is autumn")
else:
  print("season is winter")

enter 1 for jan
 2 for feb
 3 for march
4 for april
 5 for may
 6 for june
7 for july
 8 for aug
9 for sept
10 for oct
 11 for nov
12 for dec
5
season is spring

In [ ]:
year=int(input("enter the year"))
if year % 4==0:
  if year % 400==0:
    if year % 100==0:
      print(year,"is leap year")
    else:
      print(year,"not leap year")
  else:
    print(year,"not leap year")
else:
  print(year,"not leap year")

enter the year2004
2004 not leap year

In [ ]:
year=int(input("enter the year"))
if year%400==0 or year%100!=0 and year%4==0:
  print("leap year")
else:
  print("not leap year")

enter the year2002
not leap year

In [ ]:
a=10
print(type(a))
s=str(a)
print(type(s))
print(s)

<class 'int'>
<class 'str'>
10

In [ ]:
temp=float(input("enter the temperature"))
if temp>=70:
  print("wear shorts and tshirts")
elif temp>50 and temp<69:
  print("wear jeans and jacket")
else:
  print("wear heavy coat and warm pants")

enter the temperature5
wear heavy coat and warm pants

In [ ]:
num=int(input("enter the no"))
if num>0:
  print("positive")
elif num==0:
  print("zero")
else:
  print("negative")

enter the no-8
negative

In [ ]:
myset={29,2,375,"one team",2,'a'}
print(myset)

{'a', 2, 375, 29, 'one team'}

In [ ]:
mylist=('amal',25,'kaprassery')
print(mylist)

('amal', 25, 'kaprassery')

In [ ]:
mylist=["jhon vick",41,"auva",9857487382]
print(mylist)
print(type(mylist))
s=(tuple(mylist))
print(type(s))

['jhon vick', 41, 'auva', 9857487382]
<class 'list'>
<class 'tuple'>

In [ ]:
i=1
while i<=50:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
i=2
while i<=50:
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
num=int(input("enter the number"))
i=1
while i<=10:
  print(i,"*",num,"=",i*num)
  i+=1

In [ ]:
#calculator using ifelse

choice=int(input("enter 1 for addition\n2 for substraction\n3 for multiplication\n4 for division\n"))
if choice==1:
    num1 = int(input("enter the first no "))
    num2 = int(input("enter the secnd no "))
    sum=num1+num2
    print("sum= ",sum)
elif choice==2:
    num1 = int(input("enter the first no "))
    num2 = int(input("enter the secnd no "))
    sum=num1-num2
    print("sum= ",sum)
elif choice==3:
    num1 = int(input("enter the first no "))
    num2 = int(input("enter the secnd no "))
    sum=num1*num2
    print("sum= ",sum)
elif choice==4:
    num1 = int(input("enter the first no "))
    num2 = int(input("enter the secnd no "))
    sum=num1/num2
    print("sum=",sum)
else:
    print("invalid entry")

enter 1 for addition
2 for substraction
3 for multiplication
4 for division
1
enter the first no4
enter the secnd no6
sum=  10

In [ ]:
#right triangle or not
a1=int(input("enter the first angle of triangle"))
a2=int(input("enter the secnd angle of triangle"))
a3=int(input("enter the third angle of triangle"))
sum=a1+a2+a3
if sum==180:
    if a1==90 or a2==90 or a3==90:
        print("it is a right triangle")
    else:
        print("not a right triangle")
else:
    print("not a right triangle")

enter the first angle of triangle90
enter the secnd angle of triangle60
enter the third angle of triangle30
it is a right triangle

In [ ]:
#string inbuilt functions
string="python programming"
print(len(string))
print(string.upper())
print(string.lower())
print(string.capitalize())
s="hello,hello,hello,world"
print(s.count("hello"))
print(s.replace("world","hi"))
string="apple,orange,banana"
fruits=string.split()
print(fruits)

18
PYTHON PROGRAMMING
python programming
Python programming
3
hello,hello,hello,hi
['apple,orange,banana']

In [ ]:
#list inbuilt functions
#append()
list=[1,2,3]
list.append(4)
print(list)

[1, 2, 3, 4]

In [ ]:
#extend()
list=[1,2,3]
list.extend([4,5,6])
print(list)

[1, 2, 3, 4, 5, 6]

In [ ]:
#insert()
list=[1,2,3]
list.insert(0,4)
print(list)

[4, 1, 2, 3]

In [ ]:
#remove()
list=[1,2,3,2]
list.remove(2)
print(list)

[1, 3, 2]

In [ ]:
#pop()
list=[1,2,3,2]
list.pop()
print(list)

[1, 2, 3]

In [ ]:
#pop()
list=[1,2,3,2]
list.pop(1)
print(list)

[1, 3, 2]

In [ ]:
#index()
list=[1,2,3,4]
print(list.index(3))

2

In [ ]:
#count()
list=[3,1,2,3,4]
print(list.count(3))

2

In [ ]:
#sort
list=[41,22,67,89,33]
list.sort()
print(list)

[22, 33, 41, 67, 89]

In [ ]:
#reverse
list=[1,2,3,4]
list.reverse()
print(list)

[4, 3, 2, 1]

In [ ]:
#clear
list=[1,2,3,4]
list.clear()
print(list)

[]

In [ ]:
#sort descending
list=[34,23,12,9,78,90]
list.sort(reverse=True)
print(list)

[90, 78, 34, 23, 12, 9]

In [ ]:
#set add
myset={1,2,3}
myset.add(4)
print(myset)

{1, 2, 3, 4}

In [ ]:
myset={1,2,3}
myset.update([4,3,5,6])
print(myset)

{1, 2, 3, 4, 5, 6}

In [ ]:
myset={1,2,3}
myset.remove(3)
print(myset)

{1, 2}

In [ ]:
#default parameter
def sum(a,b):
  c=a+b
  return c
sum(5,2)

7

In [ ]:
#keyword parameter
def sum(a=3,b=2):
  c=a+b
  return c
sum()

5

In [ ]:
#orbitory argument parameter passing
def sum(*a):
  return a
sum(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [ ]:
#reference parameter passing
def sum(a):
  print(a)
s=10
sum(s)

10

In [ ]:
def word(**x):
  print(x)
word(name="amal",age=30)

{'name': 'amal', 'age': 30}

In [ ]:
#program for phnbook

contact={}

def add():
  name=input("enter the name")
  phno=int(input("enter the phno"))
  contact['name']=name
  contact['phnone no']=phno


def search():
  name=input("enter the name to search in contact")
  if name in contact:
    print(f"{name} found in contacts")
  else:
    print(f"no such contact")

def update():
  name=input("enter the name you want to edit")

def display():
  print(contact)

def delete():
  name=input("enter the name to delete")
  del contact[name]
  print(f"{name} deleted")

while(1):
  choice=input("enter 1 for add contact\n 2 for search contact\n 3 for update contact\n 4 for display contact\n 5 for delete contact\n 6 for exit")

  if choice==1:
     add()
  if choice==2:
    search()
  if choice==3:
    update()
  if choice==4:
    display()
  if choice==5:
    delete()

no such contact
{'name': 'amad', 'phnone no': 7879}