<a href="https://colab.research.google.com/github/AmalDavis848/Python_programs/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var=10
while var>0:
  var=var-1
  if var==5:
    continue
  print("current value is:",var)
print("thank you")

current value is: 9
current value is: 8
current value is: 7
current value is: 6
current value is: 4
current value is: 3
current value is: 2
current value is: 1
current value is: 0
thank you

In [ ]:
for i in "oneteam":
  print(i)

o
n
e
t
e
a
m

In [ ]:
mylist=["amal",25,"kaprassery"]
for i in mylist:
  print(i)

amal
25
kaprassery

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#factoria using for loop
num=int(input("enter the number"))
fact=1
for i in range(num,1,-1):
  fact=fact*i
print(fact)

enter the number4
24

In [ ]:
num=int(input("enter the number"))
#fact=1
for i in range(1,num):
  print(i)

enter the number5
5
4
3
2

In [ ]:
#reverse a list
original_list=["amal",25,"kaprassery"]
reversed_list=[]
for i in original_list:
  reversed_list.insert(0,i)
print(reversed_list)
print(original_list)

['kaprassery', 25, 'amal']
['amal', 25, 'kaprassery']

In [ ]:
num=int(input("enter the number"))
for i in range(1,11,num):
  print(i)

enter the number5
1
6

In [ ]:
mylist=["amal"]
rev=mylist[::-1]
print(rev)

['amal']

In [ ]:
mylist=["amal"]
mylist.reverse()
print(mylist)

['amal']

In [ ]:
#string is palindrome or not
string=input("enter the string ")
if string==string[::-1]:
  print("palindrome")
else:
  print("not palindrome")

enter the string amal
not palindrome

In [ ]:
#no is palindrome or not
num=int(input("enter the no"))
while num>0:
  r=num%10

In [ ]:
#automorphic no or trimorphic
num=int(input("enter the no"))
square=num**2
while num>0:
  if num%10!=square%10:
    print("not automorphic")
  else:
    num=num//10
    square=square//10
  print("automorphic")

enter the no76
automorphic
automorphic